{% extends 'snippet/base.html' %}


{% block title %}
    Dashboard
{% endblock title %}
    

{% block content %}

<a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'course:course_create' %}">
    + Add New Course
  </a>

  <h4>Filter The Course</h4>
  <div class="d-flex w-100 justify-content-start align-items-start gap-3">
    <a href="{% url 'main:home' %}" class="btn btn-outline-primary">
      All
    </a>
    {% for c in categories %}
    <a href="{% url 'main:home' %}?category={{ c.category }}" class="btn btn-outline-primary">
      {{ c.category }}
    </a>
      {% endfor %}
  </div>

  <table class="table table-striped table=hover text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Date Created</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      
      {% for course in courses %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ course.title }}</td>
        <td>{{ course.description }}</td>
        <td>{{ course.category }}</td>
        <td>{{ course.timestamps }}</td>
        <td>
          <a href="{% url 'course:course_edit' course.slug %}" class="btn btn-outline-primary">
            Update
          </a>
          <form class="d-inline" action="{% url 'course:course_delete' course.id %}" method='POST'>
            {% csrf_token %}
            <button class="btn btn-outline-danger">
              Delete
            </button>
          </form>
        </td>
      </tr>
        {% endfor %}
          
    </tbody>
  </table>
{% endblock content %}